<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bda3cd9edc.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon"
        href="https://http2.mlstatic.com/frontend-assets/ui-navigation/5.19.5/mercadolibre/favicon.svg">
    <title>MercadoLiebre</title>
</head>

<body>

    <header>
        <div class="container-header">

            <div class="container-nav-bar">
                <div class="container-logo-search">
                    <img class="logo" src="/img/logo-mercado-liebre.svg" alt="MercadoLiebre">
                    <form action="/" method="GET">
                        <div class="nav-search-bar">
                            <input type="text" id="text" name="search" placeholder="Buscar productos, marcas">
                            <button type="submit" class="button-search">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="compra-cuotas">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    <span>Comprá en cuotas y sin tarjeta de crédito </span>
                </div>

            </div>
        </div>


        <div class="container-nav-site-login">
            <nav class="nav-site-bar">
                <a href="">Ofertas</a>
                <a href="">Tiendas Oficiales</a>
                <a href="">Vender</a>
                <a href="">Ayuda</a>
            </nav>

            <nav class="nav-login-bar">
                <a href="/register">Creá tu cuenta <i class="fa-solid fa-id-card"></i> </a>
                <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
                <a href="">Mis compras <i class="fas fa-shopping-basket"></i></a>
            </nav>
        </div>


        <div class="container-burger">
            <div class="burger">
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </div>
        </div>
    </header>


    <main>
        <div class="container-main">
            <div class="banner">
                <img src="/img/img-home-banner.jpg" alt="">
            </div>
            <section>
                <h3>Basado en tu ultima visita</h2>
                    <div class="contenedor">

                        <article>
                            <div class="cafetera">
                                <div class="img img-cafetera">
                                    <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera Molinex">
                                </div>
                                <div class="descripcion">
                                    <i class="fas fa-truck"></i>
                                    <div class="container-precio">
                                        <p class="precio">$6.770</p>
                                        <p class="descuento">40% off</p>
                                    </div>
                                    <p class="nombre">Cafetera Molinex</p>
                                </div>
                            </div>
                        </article>

                        <article>
                            <div class="mac">
                                <div class="img img-mac">
                                    <img src="/img/img-macbook-pro-2019.jpg" alt="Macbook">
                                </div>
                                <div class="descripcion">
                                    <i class="fas fa-truck"></i>
                                    <div class="container-precio">
                                        <p class="precio">$200.000</p>
                                        <p class="descuento">10% off</p>
                                    </div>
                                    <p class="nombre">MacBook Pro 2019</p>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="ofertas">
                                <div class="samsung">
                                    <div class="img img-samsung-s10">
                                        <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung S10">
                                    </div>
                                    <div class="descripcion">
                                        <i class="fas fa-truck"></i>
                                        <div class="container-precio">
                                            <p class="precio">$100.000</p>
                                            <p class="descuento">20% off</p>
                                        </div>
                                        <p class="nombre">Samsung Galaxy S10</p>
                                    </div>
                                </div>
                        </article>

                        <article>
                            <div class="samsung-tv">
                                <div class="img img-samsung-tv">
                                    <img src="/img/img-tv-samsung-smart.jpg" alt="Samsung TV">
                                </div>
                                <div class="descripcion">
                                    <i class="fas fa-truck"></i>
                                    <div class="container-precio">
                                        <p class="precio">300.000</p>
                                        <p class="descuento">5% off</p>
                                    </div>
                                    <p class="nombre">Samsung Smart TV</p>
                                </div>
                            </div>
                        </article>
            </section>

        </div>
    </main>



    <footer>
        <div class="contenedor-footer">
            <div class="container-info">
                <div class="info tarjeta-efectivo">
                    <i class="fas fa-credit-card"></i>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de
                        pago. ¡Y
                        siempre es
                        seguro!
                    </p>
                </div>

                <div class="info envios">
                    <i class="fas fa-gift"></i>
                    <h3>Envío gratis desde $ 2.500</h3>
                    <p>
                        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos.
                        Es un
                        beneficio
                        de Mercado Puntos.</p>
                </div>

                <div class="info seguridad">
                    <i class="fas fa-user-shield"></i>
                    <h3>Seguridad, de principio a fin
                    </h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque
                        estás
                        siempre
                        protegid@.
                    </p>
                </div>

            </div>
            <div class="copyright">
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
        </div>
    </footer>
</body>

</html>