<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bda3cd9edc.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="https://http2.mlstatic.com/frontend-assets/ui-navigation/5.19.5/mercadolibre/favicon.svg">
    <title>Document</title>
</head>

<body>
    <main>

        <div class="login form">
            <form action="../" method="GET">

                <h2 class="title">Iniciar Sesion</h2>
                <input class="controls" id="user" type="text" placeholder="Nombre de usuario">
                <input class="controls" id="pass" type="password" placeholder="Contraseña">
                <a class="forgot" href=""> Olvidó su contraseña?</a>
                <input class="submit login" type="submit">

            </form>

</body>

</html>