<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/register.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bda3cd9edc.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="https://http2.mlstatic.com/frontend-assets/ui-navigation/5.19.5/mercadolibre/favicon.svg">
    <title>Registrarse</title>
</head>

<body>

    <main>
        <div class="form">
            <form action="../" method="GET">

                <h2 class=" title">Registrar usuario</h2>
                <input class="controls" id="name" type="text" placeholder="Nombre">
                <input class="controls" id="surname" type="text" placeholder="Apellido">
                <input class="controls" id="user" type="text" placeholder="Nombre de usuario">
                <input class="controls" id="pass" type="password" placeholder="Contraseña">
                <input class="controls" id="pass" type="password" placeholder="Confirmar contraseña">
                <input class="controls" id="mail" type="email" placeholder="E-mail">
                <h3>Fecha de nacimiento</h3>
                <input class="controls" id="date" type="date" placeholder="mm/dd/yyyy">
                <input class="controls" id="adress" type="text" placeholder="Domicilio">

                <h3>Perfil del usuario</h3>
                <div class="comprador-vendedor">
                    <input type="radio" id="comprador" name="comprador-vendedor" value="Comprador">
                    <label for="comprador">Comprador</label><br>
                    <input type="radio" id="vendedor" name="comprador-vendedor" value="Vendedor">
                    <label for="vendedor">Vendedor</label><br>
                </div>

                <h3>Intereses</h3>
                <div class="intereses">
                    <input type="checkbox" value="Electro" id="interes1">
                    <label for="interes1">Electro</label><br>
                    <input type="checkbox" value="Moda" id=interes2">
                    <label for="interes2">Moda</label><br>
                    <input type="checkbox" value="Hogar" id="interes3">
                    <label for="interes3">Hogar</label><br>
                    <input type="checkbox" value="Jugueteria" id="interes4">
                    <label for="interes4">Jugueteria</label><br>
                    <input type="checkbox" value="Vida sana" id="interes5">
                    <label for="interes5">Vida sana</label><br>
                </div>
                <input class="submit" type="submit">
                <input class="submit reset" type="reset" onclick="alert('Datos reestablecidos')">
            </form>

        </div>












    </main>














</body>

</html>